body {
  background-color:#EAF6F6;;
}

h1 {
  color: #505bda;
}

h3 {
  color: #505bda;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  height:0px;
  width:5%;
}
